body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

html, body {
  height: 100%;
}

#map {
  height: 100%;
  background: #fff;
}

a {
  color: #7DBA84;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #8FD694;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 18px;
  padding-bottom: 5px;
  margin-left: 5px;
  /* border-bottom: 2px solid #000; */
  line-height: 20px;
}

h3 {
  font-size: 10px;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 0;
}

.head {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #000;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  /* height: 200px; */
  background-color: #f6f5f1;
  /* background-color: #fff; */
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 0 0 2px hsla(0,0%,75%,.5);
}

.leaflet-top.leaflet-right {
  margin-top: 95px;
}

.leaflet-bottom.leaflet-right {
  display: none;
}

.content {
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  overflow: auto;
  background-color: #f6f5f1;
  box-shadow: 0 0 0 2px hsla(0,0%,75%,.5);
  /* background-color: #fff; */
  width: 100%;
  z-index: 1;
}
.content p.description {
  padding: 0;
  margin: 0;
}
.content p.street {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
}

.leaflet-pelias-expanded {
  width: 100%;
  height: 35px;
}

p.instructions {
  display: none;
}

.action {
  display: none;
}

.information p {
  text-transform: capitalize;
  margin: 3px 0;
}

#geocoder {
  position: relative;
  height: 35px;
  margin-top: 10px;
}

@media(min-width:768px) {
  .box {
    position: absolute;
    top: 0;
    left: 16px;
    width: 320px;
    /* height: 450px; */
    box-shadow: 0 0 0 5px hsla(0,0%,75%,.5);
    background-color: #f6f5f1;
    box-sizing: border-box;
    padding: 10px;
  }

  .header {
    margin-bottom: 12px;
  }

  .content {
    height: auto;
    z-index: 0;
  }

  .header, .content {
    position: relative;
  }

  .content {
    /* height: 330px; */
  }

  .leaflet-top.leaflet-right {
    margin-top: 0;
  }

  .leaflet-bottom.leaflet-right {
    display: block;
  }

  p.instructions {
    display: block;
    font-size: 12px;
    color: #999;
    margin: 5px 0;
  }

  .action {
    display: block;
    margin-top: 10px;
  }

  .action a {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    text-align: center;
    background-color: #ddd;
    color: #000;
  }

  #geocoder {
    margin-top: 0;
  }
}

.leaflet-bar {
  box-shadow: 0 0;
  border-radius: 0;
}

.leaflet-bar a:first-child {
  border-radius: 0;
}
.leaflet-bar a:last-child {
  border-radius: 0;
}

.icon img {
  height: 25px;
  width: 25px;
}


.leaflet-pelias-results.leaflet-bar {
    position: absolute;
    top: 35px;
}

.leaflet-pelias-input {
    font-family: proxima-nova,sans-serif;
}

.button {
  width: 170px;
  display: block;
  text-transform: uppercase;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border: 0;
  margin-top: 10px;
}

a.button {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.toggle {
  background-color: #888;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #eee;
    color: #000;
    box-shadow: 0 0 0 3px hsla(0,0%,50%,.5);
    /* box-shadow: 0 3px 14px rgba(0,0,0,0.4); */
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
}

.leaflet-container a.leaflet-popup-close-button {
  color: #000;
}

.action a.toggle {
  background-color: #fff;
}

.leaflet-container .leaflet-control-attribution {
  background: transparent;
}

.direction-btn {
  text-align: center;
  width: 50%;
  text-decoration: none;
  display: block;
  padding: 0.8em;
  background: #7DBA84;
  color: #fff;
  font-weight: bold;
}

.direction-btn:hover {
  text-decoration: none;
  color: #fff;
  background: #8FD694;
}

.info {
  padding: 10px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,1);
  box-shadow: 0 0 0 3px hsla(0,0%,50%,.5);
  color: #666;
}
.info p {
  height: 20px;
  margin: 0;
  display: flex;
  align-items: center;
}
.legend i {
  width: 14px;
  height: 14px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
  border-radius: 50%;
}
